.search-container {
  background-color: #eeeeee;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}

.search-container input {
  padding: 10px 15px;
  width: 100%;
  max-width: 350px;
  border: 1px solid #444444;
  color: #444444;
  font-size: 16px;
  border-radius: 10px;
}

.table-wrapper {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  text-align: left;
}

table th,
table td {
  padding: 12px;
  border-bottom: 1px solid #444444;
  color: #000000;
  font-size: 15px;
}

@media (max-width: 700px) {

  table th,
  table td {
    font-size: 13px;
    padding: 8px;
  }
}

.logo-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dddddd;
  border: 1px solid #444444;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.results-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* contador */
.results-count {
  font-size: 14px;
  color: #000;
  padding-left: 6px;
}

/* select */
.limit-select select {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}
